@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">201795097 하태형</h1>
    <h1 class="display-4">2022년 4월 13일 실습</h1>
    <h1 class="display-4">클라우드 실습을 위한 웹 앱</h1>
    <h1 class="display-4">github test!!!!</h1>
</div>
